<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youareright.dao.GoodsDao">
	<resultMap id="goodsMap" type="com.youareright.model.sys.GoodsEntity">
		<id column="goodsID" property="goodsID" />
		<result column="classID" property="classID" />
		<result column="goodsPath" property="goodsPath" />
		<result column="goodsFilename" property="goodsFilename" />
		<result column="goodsState" property="goodsState" />
		<result column="uploadUser" property="uploadUser" />
		<result column="markUserID" property="markUserID" />
	</resultMap>
	
	<insert id="insertGoods">
		insert into sys_goods (classID,goodsPath,goodsState,uploadUser,markUserID)
		values
		(#{goodsEntity.classID},#{goodsEntity.goodsPath},#{goodsEntity.goodsState},#{goodsEntity.uploadUser},#{goodsEntity.markUserID})
	</insert>
	
	<!-- 单独删除图片信息 -->
	<delete id="del">
		delete from sys_goods
		<where>
			<if test="goodsEntity.goodsID != null and goodsEntity.goodsID != ''">goodsID = #{goodsEntity.goodsID}</if>
		</where>
	</delete>
	
	<!-- 批量删除图片信息 -->
	<delete id="deleteGoodses">
		delete from sys_goods
		<where>
			<if test="groupId !=null">
				goodsID in
				<foreach collection="groupId" item="item" index="index"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</delete>
	
	
	<update id="updateGoods">
		update sys_goods set
		<if test="goodsEntity.classID != null">classID = #{goodsEntity.classID},</if>
		<if test="goodsEntity.goodsPath != null">goodsPath = #{goodsEntity.goodsPath},</if>
		<if test="goodsEntity.goodsState != null">goodsState = #{goodsEntity.goodsState},</if>
		<if test="goodsEntity.markUserID != null">markUserID = #{goodsEntity.markUserID}</if>	
		<where>
			goodsID = #{goodsEntity.goodsID}
		</where>
	</update>
	
	<update id="updateGoods2">
		update sys_goods set
		<if test="goodsEntity.classID != null">classID = #{goodsEntity.classID},</if>
		<if test="goodsEntity.goodsPath != null">goodsPath = #{goodsEntity.goodsPath},</if>
		<if test="goodsEntity.goodsState != null">goodsState = #{goodsEntity.goodsState},</if>
		<if test="goodsEntity.markUserID != null">markUserID = #{goodsEntity.markUserID}</if>
		<where>
			goodsID = #{goodsEntity.goodsID}
		</where>
	</update>
	
	<update id="modifyGoods">
		update sys_goods set
		classID = #{newClassID},
		goodsPath = #{newGoodsPath}
		<where>
			classID = #{oldClassID}
		</where>
	</update>
	
	<!-- 获取goods列表 -->
	<select id="goodsesList" resultMap="goodsMap">
	<![CDATA[SELECT goodsID ,goods_class.goodsClass as goodsClass,goodsPath,goods_class.goodsName as goodsFilename,goodsState,uploadUser,markUserID 
	FROM sys_goods LEFT JOIN goods_class ON sys_goods.classID = goods_class.classID]]>
		<where>
			<if test="searchCondition != null and searchCondition != '' and searchCondition!='未打标' ">
				(goods_class.goodsName like "%"#{searchCondition}"%"
				or goods_class.goodsClass like "%"#{searchCondition}"%")
			</if>
			<if test="searchCondition == '未打标' ">
				(sys_goods.classID is null)
			</if>
		</where>
	    <![CDATA[ order by goodsID desc]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	
	<!-- 获取goods列表的总量 -->
	<select id="goodsesSize" resultType="Integer">  
	<![CDATA[select count(*) FROM sys_goods LEFT JOIN goods_class ON sys_goods.classID = goods_class.classID]]>
	    <where>
			<if test="searchCondition != null and searchCondition != '' and searchCondition!='未打标' ">
				(goods_class.goodsName like "%"#{searchCondition}"%"
				or goods_class.goodsClass like "%"#{searchCondition}"%")
			</if>
			<if test="searchCondition == '未打标' ">
				(sys_goods.classID is null)
			</if>
		</where>
	</select>
	
	<select id="selectAll">
		select * from sys_goods
		<where>
			<if test="goodsID != null">goodsID = #{goodsID}</if>
			<if test="goodsClass != null">classID = #{classID}</if>
		</where>
	</select>
	
	<!-- 获取goodsID最大值 -->
	<select id="maxGoodsID" resultType="Integer">  
	    <![CDATA[select IFNULL(MAX(goodsID),0) from sys_goods]]>
	</select>
	
	<select id="getSrc" resultType="String">
		select goodsPath from sys_goods
			<where>
				goodsID = #{goodsID}
			</where>
	</select>
	
	<select id="getClassIDByGoodsID" resultType="Integer">
		<![CDATA[SELECT IFNULL(classID,-1) FROM sys_goods]]>
			<where>
				goodsID = #{goodsID}
			</where>
	</select>
</mapper>
	